__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.DS_Store
*.sqlite3
*.log
*.pot
*.mo
*.so
*.egg
*.egg-info
*.bak
*.swp
.idea/
.vscode/
.envrc
pytest_cache/
*.pyc
*.pyd
*.pyo
*~
*egg-info/
*_cache
venv/
.env/
node_modules/
.nox/
.cache/
build/
dist/
saved_models/
